
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    border-top: 5px solid blue;
    border-right: 5px solid blue;
    border-bottom: 5px solid blue;
    border-left: 5px solid blue;
    margin: 5px;
    padding: 5px;
}

#two {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    border-top: 5px solid green;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
    border-left: 5px solid green;
    margin: 5px;
    padding: 5px;
}

#three {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    border-top: 5px solid orange;
    border-right: 5px solid orange;
    border-bottom: 5px solid orange;
    border-left: 5px solid orange;
    margin: 5px;
    padding: 5px;
}

#four {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    border-top: 5px solid yellow;
    border-right: 5px solid yellow;
    border-bottom: 5px solid yellow;
    border-left: 5px solid yellow;
    margin: 5px;
    padding: 5px;
}
#link{
    font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}
a{background-color: #0a4b33;
color: #EEEEEE;

}